.button {
  all: unset;
  background-color: #cab9a7;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem 4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
  align-self: baseline;
}
.button:hover {
  background-color: #000000;
}
