.hero {
  margin-left: 12vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  text-transform: uppercase;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 1rem;
  border: 1px solid #3d3d3d;
  padding: 2rem 3rem;
  align-self: baseline;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
.title {
  margin: 0;
  font-weight: 400;
  font-size: 3.2rem;
  text-transform: capitalize;
  color: #000000;
}
.paragraph {
  margin: 0;
  font-size: 1.6rem;
  color: #373737;
  max-width: 40ch;
  line-height: 2.8rem;
}
