.background {
    background-image: url('../../assets/model.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
}