.footer {
  background-color: #cab9a7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.4rem;
}
.socials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.socials__container > p {
    color: #2E2E2E;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 5%;
    text-transform: uppercase;
    margin: 0;
}
.socials__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.footer > div:last-child {
    justify-self: end;
}
.attribution {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
}
