.footer {
  background-color: #cab9a7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 1.4rem;
}
.socials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.socials__container > p {
  color: #2e2e2e;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 5%;
  text-transform: uppercase;
  margin: 0;
}
.socials__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 500px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 0.5rem;
  }
}
