.nav {
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 4px #ececec);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4rem;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: .3s;
  display: inline-block;
  position: relative;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  top: 18px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #CAB9A7;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav > h3 {
  margin: 0;
}

.nav:first-child > ul,
.nav:last-child > ul {
  flex: 1;
}

.pages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pages > li {
  text-transform: uppercase;
  color: #000000;
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 2rem;
}

.logo {
  font-weight: 500;
  font-size: 3.2rem;
  color: #000000;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
