.container {
  display: flex;
  flex-direction: column;
  padding: 3% 10%;
}
.product {
  display: grid;
  padding: 0 12%;
  grid-template-columns: auto 1fr;
  gap: 4rem;
}
.product * {
  margin: 0;
}
.product__image {
  max-width: 100%;
  height: auto;
}
.product__name {
  color: #000000;
  font-size: 3.2rem;
  text-transform: capitalize;
}
.product__price {
  color: #000000;
  font-size: 2rem;
  font-weight: 300;
}
.product__desc {
  font-size: 1.4rem;
  color: #7a7a7a;
  max-width: 100ch;
}
.product > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}
.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 1070px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .actions {
    flex-direction: column;
  }
}
