.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title {
    margin: 0;
    color: #000000;
    font-size: 2rem;
    letter-spacing: 10%;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 400;
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}