.button {
  all: unset;
  text-transform: uppercase;
  background-color: #cab9a7;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1.6rem 3rem;
  height: auto;
  transition: 0.5s ease;
}
.button:hover {
  background-color: #000000;
}
